body {
    background-color: white;
    color: #6c757d;
    display: block;
    text-align: center;
    font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
    margin: 10px 50px 0 50px;
}

.container {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgb(255, 235, 255));
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: plum;
    margin: 10px 10px 20px 20px;
}

.columns {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 10px 0px 0px;
    padding: 0px;
}

.form-group {
    padding: 15px 10px;
    margin: 10px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: plum;
    }

.button {
    background-color: plum;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    font-size: 16px;
    padding: 3px 15px;
    margin: 10px 0px;
    }

.button:hover {
    background-color: white;
    color: plum
}

h1 {
    color: plum;
    font-family: "Borel", cursive;
    font-size: 40px;
    padding: 40px 0px 0px;
}

h2, h3, h4, h5, h6 {
    font-size: 20px;
    color: plum;
    padding: 0px;
    margin: 0px;
}

h3, h5 {
    font-size: 22px;
    margin-top: 15px;
}

h4 {
    vertical-align: middle;
}

.info {
    font-size: 12px;
    font-weight: 100;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 5px 10px 0px;
    margin: 0px;
}

li {
    padding: 5px;
}

.min-temp {
    opacity: 0.5;
}

.mainIcon {
    align-content: center;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.forecastIcon {
    align-content: center;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.forecastDay {
    font-size: 12px;
    color: plum;
}

.forecastTemperature {
    font-size: 12px;
}

footer {
    color: #adb5bd;
    font-size: 12px;
    padding: 0px 10px 10px 0px;
}

footer:hover {
    font-style: italic;
}

.link {
    color: plum;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@200;400;600&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
    box-sizing: border-box;
}

.cd__main {
    background: pink !important;
    font-family: 'Pacifico', cursive !important;
    min-height: 450px;
}

.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }

    to {
        transform: translateY(105vh) translateX(10vw);
    }
}